@model IEnumerable<WebAppDB.Models.FilmVM>

<table border="1">
    @foreach(FilmVM film in Model)
    {
        <tr>
            <td>@film.FilmID</td>
            <td>@film.FilmAdi</td>
            <td>@film.Sure</td>
            <td>@film.KategoriAdi</td>
        </tr>
    }
</table>
